
h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top:1rem;
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.c0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="password"],
button {
    margin-bottom: 2vh; /* Reduce the vertical gap */
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: calc(100% - 18px);
}

button {
    background-color: #007bff;
    height: 35px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.2);
}

.new-data {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 40px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cccccc;
}

.container3 {
    display: none; /* Initially hidden */
    /* Your existing CSS styles */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    
    position: relative;
    
}

