body 
{
    padding: 0rem;
    margin: 0rem;
}
.container0
{
    background-color: black;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
.container0>div
{
    color: white;
    border-radius: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0.01rem;
    text-align: center;
}
.container0>div a
{
    text-decoration: none;
    color: aliceblue;
}


/* banner scetion of the page1 index page starts ,here */
.container1
{
    display: flex;
    height: 18vh;
    gap: 1rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 15px black;
    margin:0.5rem ;

}
.c1c1
{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgb(0 0 0 1 );

}
.c1c2
{
    width: 35%;
}
.c1c2 p
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(167, 19, 19);
}
.c1c3
{
}

/* banner section of the page1 Index ends here */


.container2
{
    display: flex;
    margin:2rem 10%;
    height: 50vh;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}
.ch1
{   height: 49vh;    
    background-color: aliceblue;
    width: 100%;text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow:1px 2px 100px aliceblue;

}
.ch2
{   height: 49vh;
    width: 90%;
    border: 1px solid whitesmoke;
    box-shadow:1px 2px 10px black;
    
}
.ch1 h1
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px grey;
}
.ch1 p
{
    padding: 2rem;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container4
{   height: 100vh;
    margin:2rem 10%;
}
.btn_edit
{
    color: white; border-radius: 0px; font-size: small;height: 7vh; 
}
.btn_drop
{
    margin: 0;
    padding: 0;
    color: black;
}
.container5
{
    display: flexbox;
    flex-direction: column;
    height: 40vh;
    width: 50%;
    margin:2rem 25% 2rem 25%;

}
.container5 h1
{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px grey;

}
.container5 ul
{

    margin-left: 25%;
}



footer
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.733);
    gap: 5rem;
    color: white;
    justify-content: center;
    padding: 1rem;

}
footer a
{
    text-decoration: none;
    color: white;
}